###########
# GENERAL #
###########

.venv
__pycache__

###########
# BACKEND #
###########

backend/assets/config.json
backend/assets/creds.json

############
# FRONTEND #
############

# dependencies
/frontend/node_modules

# production
/frontend/dist

# misc
.vscode
.DS_Store
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*