* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

h1,
h2,
h3 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#logo {
  grid-column: 1/1;
}

#search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 100%;
  grid-column: 2/5;
}

#create-recipe {
  grid-column: 5/5;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

input {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: #bbd2e8;
  cursor: pointer;
}

button:hover {
  background-color: #c1daf0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.content {
  margin: 0 15%;
}

@media screen and (max-width: 1200px) {
  header {
    flex-direction: column;
  }

  .content {
    margin: 0 7%;
  }
}