.recipe-card {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
    cursor: pointer;
}

.recipe-card:hover {
    background-color: #fafafa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

.recipe-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
}

.recipe-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.recipe-card .rating {
    --bg-size: 300%;
    --color-bright: #dbb300;
    --color-dark: gold;
    color: transparent;
    background: linear-gradient(90deg, var(--color-bright), var(--color-dark), var(--color-bright)) 0 0 / var(--bg-size) 100%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animated-gradient 8s infinite ease-out;
}

.recipe-card .label {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 30px;
    background-color: #bbd2e8;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    font-size: 14px;
    font-weight: 200;
}

.recipe-card .label:hover {
    background-color: #e0e0e0;
}

.recipe-card .creator {
    font-size: 12px;
    color: #999;
}


@keyframes animated-gradient {
    100% {
        background-position: var(--bg-size) 0;
    }
}